<!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
    Hi {{ person }}! I think you're: <br>
    <ul>
        {% for compliment in compliments %}
            <li>{{compliment}}</li>
        {% endfor %}
    </ul><br>

    Would you like to play a game?
    <form action="/game">
        <input type="radio" name="choice" value="yes">YES PLEASE!
        <input type="radio" name="choice" value="no">Naw, dawg.<br>       
        <input type="submit">
    </form>
</body>
</html>