<!DOCTYPE html>
<html>
<head>
    <title>Madlib Game</title>
    <style>
        input {
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Welcome to Madlibs!</h1>
    <h2>Please fill out the form below.</h2>
    <form action="/madlib">
        Choose a person: <input type="text" name="person"><br>
        Choose a color: 
            <select name="color">
                <option value="blue">blue</option>
                <option value="orange">orange</option>
                <option value="pink">pink</option>
                <option value="green">green</option>
                <option value="black">black</option>
                <option value="yellow">yellow</option>
                <option value="red">red</option>
                <option value="rainbow">rainbow</option>
            </select><br>
        Choose a noun: <input type="text" name="noun"><br>
        Choose an adjective: <input type="text" name="adjective"><br>
        <input type="submit">
        
    </form>
</body>
</html>