<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Butterfly+Kids&display=swap" rel="stylesheet">
    <title>Madlib!</title>
    <style>
        body {
            font-family: monospace;
        }
        span {
            border-bottom: 1px black solid;
            color: blue;
            font-family: 'Butterfly Kids', cursive;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <h1>Here is your madlib!</h1>
    There once was a <span>{{ color }}</span> <span>{{ noun }}</span> sitting in the Hackbright Lab.<br>
    When <span>{{ person }}</span> went to pick it up, it burst into flames in a totally
    <span>{{ adjective }}</span> way.
</body>
</html>